<app-breadcrumb [title]="product?.name" [breadcrumb]="product?.name"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div *ngIf="loading else loaded">
        <img src="assets/images/loader.gif" />
    </div>
    <ng-template #loaded>
        <div class="collection-wrapper">
            <div class="container" *ngIf="product">
                <div class="row">
                    <div class="col-lg-4">
                        <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick">
                            <ng-container *ngFor="let image of product?.images; index as i">
                                <ng-template carouselSlide [id]="i">
                                    <div>
                                        <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                            [lazyLoad]="image.image" [alt]="image.alt" class="img-fluid"
                                            [src]="image.image">
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="slider-nav no-border">
                                    <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                                        <ng-container *ngFor="let image of product?.images; index as i">
                                            <ng-template carouselSlide [id]="i">
                                                <div class="owl-thumb" [class.active]="i == activeSlide">
                                                    <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                                        [lazyLoad]="image.image" [alt]="product?.name"
                                                        class="img-fluid details-imgs" [src]="image.image"
                                                        (click)="owlCar.to(activeSlide = i.toString())">
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="product-right product-description-box">
                                    <h2>{{ product?.name }}</h2>
                                    <div class="border-product">
                                        <h6 class="product-title"> {{'adsDetails.short_description' | translate}}</h6>
                                        <p>{{product.short_description}}</p>
                                    </div>
                                    <div class="single-product-tables border-product detail-section">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>{{'adsDetails.category' | translate}}:</td>
                                                    <td>{{product.categoryName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'adsDetails.type' | translate}}:</td>
                                                    <td>{{product.type}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="border-product" *ngIf="product?.createdBy != null">
                                        <h6 class="product-title">{{'adsDetails.SellerInfo' | translate}}</h6>
                                        <div class="single-product-tables detail-section">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>{{'common.name' | translate}}:</td>
                                                        <td> {{ product.createdBy?.firstName }} {{product.createdBy?.lastName}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'adsDetails.NumberOfِAds' | translate}}:</td>
                                                        <td> {{product.createdBy?.adsCount}} ads</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'adsDetails.joinDateFrom' | translate}}:</td>
                                                        <td> {{product.createdBy['registrationDate'] | date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
        
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="product-right product-form-box">
                                    <h3> {{product?.price | currency: productService.Currency?.currency:'symbol'}} </h3>
                                    <div class="product-description border-product">
        
                                        <h6 class="product-title">{{'adsDetails.Stock' | translate}}</h6>
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number border"
                                                    [value]="getDataFromArr(product.extra,'code','stock').value" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-buttons">
                                        <a href="javascript:void(0);" class="btn btn-solid"
                                            [class.disabled]="counter > product?.stock" (click)="onOpenChat()">
                                            {{'profile.chat' | translate}}</a>
                                        <a href="javascript:void(0);" class="btn btn-solid"
                                            [class.disabled]="counter > product?.stock" (click)="onReport(content)">
                                            {{'ads.report' | translate}}</a>
                                        <ng-template #content let-modal>
                                            <ng-container *ngIf="!loadingReport">
                                                <div class="modal-header">
                                                    <h5 class="modal-title f-w-600" id="exampleModalLabel">
                                                        {{'ads.report' | translate}} </h5>
                                                    <button type="button" class="close" aria-label="Close"
                                                        (click)="modal.dismiss('Cross click')">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form #f2="ngForm" class="needs-validation">
                                                        <div class="form">
                                                            <div class="form-group"
                                                                [ngClass]="{'mb-0': report.value !== 'other'}">
                                                                <ng-select name="report" required [ngModel]="reports[0]?.id"
                                                                    #report='ngModel' [items]="reports"
                                                                    [bindLabel]="TranslateService.currentLang ==='en' ? 'value': 'valueAr'"
                                                                    bindValue="id">
                                                                    <ng-option *ngFor="let item of reports" [value]="item.id">
                                                                        {{TranslateService.currentLang ==='en' ? item.value: item.valueAr}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <small class="text-danger mt-2 d-block"
                                                                    *ngIf="f2.invalid && f2.touched && report.invalid">
                                                                    {{'common.required' | translate}}
                                                                </small>
                                                            </div>
                                                            <div class="form-group mb-0" *ngIf="report.value === 'other'">
                                                                <label for="my-input">Text</label>
                                                                <textarea class="form-control" name="otherReason" ngModel
                                                                    #otherReason="ngModel" cols="5" rows="5"
                                                                    required></textarea>
                                                                <small class="text-danger mt-2 d-block"
                                                                    *ngIf="f2.invalid && f2.touched && otherReason.invalid">
                                                                    {{'common.required' | translate}}
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="onMakeReport(f2,modal)" [disabled]="!f2.valid || onSaveReport">
                                                        <span *ngIf="onSaveReport" class="spinner-border spinner-border-sm"
                                                            role="status" aria-hidden="true"></span>
                                                        {{'ads.report' | translate}}
                                                    </button>
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                                        (click)="modal.dismiss('Cross click')">
                                                        {{'btn.close' | translate}}</button>
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </div>
                                    <div class="border-product mt-2 d-flex justify-content-center">
                                        <div class="product-icon">
                                                <button (click)="addToInterestList()" class="wishlist-btn"><i class="fa fa-heart"></i><span class="title-font">{{'adsDetails.AddToFavorites' | translate}}</span></button>
                                        </div>
                                    </div>
                                    <div class="border-product">
                                        <h6 class="product-title">100% {{'adsDetails.SecurePayment' | translate}}</h6>
                                        <div class="payment-card-bottom d-flex justify-content-center">
                                            <ul>
                                                <li><a href="javascript:void(0)"><img src="assets/images/icon/visa.png"
                                                            alt=""></a></li>
                                                <li><a href="javascript:void(0)"><img src="assets/images/icon/mastercard.png"
                                                            alt=""></a></li>
                                                <li><a href="javascript:void(0)"><img src="assets/images/icon/paypal.png"
                                                            alt=""></a></li>
                                                <li><a href="javascript:void(0)"><img
                                                            src="assets/images/icon/american-express.png" alt=""></a></li>
                                                <li><a href="javascript:void(0)"><img src="assets/images/icon/discover.png"
                                                            alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <section class="tab-product m-0">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-12">
                                            <ngb-tabset [type]="'tabs'" class="nav-material">
                                                <ngb-tab>
                                                    <ng-template ngbTabTitle> {{'common.info' | translate}}</ng-template>
                                                    <ng-template ngbTabContent>
                                                        <p>
                                                            <span class="border-product" >
                                                                <div class="row">
                                                                    <ng-container *ngFor="let info of product.extra">
                                                                        <div class="col-md-4 col-sm-6 col-12 mb-2">
                                                                            <strong>{{TranslateService.currentLang ==='en' ? info.name: info.name_ar }}</strong> :
                                                                            <ng-container  *ngIf="(info.value | typeof) === 'string' || (info.value | typeof) === 'number'">
                                                                                <ng-container *ngIf="info.value ==='N/A'; else elseTemplate">
                                                                                    {{'common.notFound' | translate}}
                                                                                </ng-container>
                                                                                <ng-template #elseTemplate>
                                                                                    {{TranslateService.currentLang ==='en' ? info.value: info.value_ar }}
                                                                                </ng-template>
                                                                                
                                                                               </ng-container>
                                                                               <ng-container  *ngIf="(info.value | typeof) === 'boolean'">
                                                                                <ng-container *ngIf="info.value">
                                                                                    {{'common.yes' | translate}}
                                                                               </ng-container>
                                                                               <ng-container *ngIf="!info.value">
                                                                                   {{'common.no' | translate}}
                                                                              </ng-container>
                                                                               </ng-container>
                                                                        </div>
                                                                    </ng-container>
                                                                    
                                                                </div>
                                                              
                                                            </span>
                                                        </p>
                                                       
                                                    </ng-template>
                                                </ngb-tab>
                                                <ngb-tab>
                                                    <ng-template ngbTabTitle> {{'adsDetails.Description' | translate}}</ng-template>
                                                    <ng-template ngbTabContent>
                                                       <p>
                                                        {{product.description}}
                                                       </p>
                                                    </ng-template>
                                                </ngb-tab>
                
                                            </ngb-tabset>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </ng-template>
    <app-related-product [type]="product?.type"></app-related-product>
</section>
<app-size-modal #sizeChart [product]="product"></app-size-modal>

<div class="float-chat" *ngIf="showChat">
    <div class="card">
        <div class="px-4 py-2 d-flex justify-content-between align-items-center" [ngClass]="{'border-bottom': true}">
            <div class="d-flex align-items-center" *ngIf="true">
                <img src="assets/images/icon/Blank-Avatar.png" class="rounded-circle avatar-xs" alt="" width="50">
                <h5 class="font-size-15 mb-1 ml-2">{{product.createdBy?.firstName}}</h5>
            </div>
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="showChat = false;reloadChat=true">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>

        <div>
            <div class="chat-conversation p-3">
                <perfect-scrollbar [scrollIndicators]="true" #chatPS style="height: 470px;"
                    (psScrollY)="onScrollEvent($event)">
                    <ul class="list-unstyled">
                        <li *ngFor="let data of chatMessagesData.slice().reverse()"
                            [ngClass]="{'right': data.senderId === product.createdBy?.id}">
                            <div class="conversation-list">
                                <div class="ctext-wrap">
                                    {{ data.message }}
                                </div>

                            </div>
                        </li>
                    </ul>
                </perfect-scrollbar>
            </div>
            <div class="p-3 chat-input-section" *ngIf="true">

                <form #f="ngForm" class="row">
                    <div class="col">
                        <div class="position-relative">
                            <input type="text" class="form-control chat-input"
                                [placeholder]="'profile.chatPlaceHolder' | translate" [autofocus]="showChat" required
                                name="message" ngModel #message="ngModel" (keyup.enter)="messageSave(f)">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Section ends -->