<ng-container *ngIf="!loading">
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel"> اضف اعلان </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" class="needs-validation">
            <div class="form">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">نوع الاعلانات</label>
                            <ng-select formControlName="adsType" [items]="adsTypes" (change)="onChangeType($event)"
                                required="" [bindLabel]="TranslateService.currentLang ==='en' ? 'name': 'nameAr'"
                                bindValue="code">
                            </ng-select>
                        </div>
                    </div>
                    <ng-container *ngFor="let item of formMap" >
                        <app-select-elemnt class="col-12"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            *ngIf="item.type === 'select' && !item?.multi" [control]="myForm.get(item.name)"
                            [required]="item.required" [listArr]="item?.options" [multiple]="item?.multi">
                        </app-select-elemnt>

                        <app-select-elemnet-multiple class="col-12"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            *ngIf="item.type === 'select' && item?.multi" [control]="myForm.get(item.name)"
                            [required]="item.required" [listArr]="item?.options"></app-select-elemnet-multiple>

                        <app-select-elemnt-url class="col-12"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            *ngIf="item.type ===  'url_option'" [control]="myForm.get(item.name)"
                            [required]="item.required" [multiple]="item?.multi" [Name]="item.name" [url]="item.url">
                        </app-select-elemnt-url>

                        <app-type-radio class="col-12" *ngIf="item.type === 'radiobutton'"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            [control]="myForm.get(item.name)" [options]="item.options" [required]="item.required">
                        </app-type-radio>

                        <app-input-element class="col-12" [inputType]="item.type" [Name]="item.name"
                            *ngIf="item.type === 'string' || item.type === 'money' ||item.type === 'Integer'"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            [control]="myForm.get(item.name)" [required]="item.required">
                        </app-input-element>

                        <app-input-element class="col-12" [inputType]="item.type" [Name]="item.name"
                            *ngIf="item.name === 'image'"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            [control]="myForm.get(item.name)" [required]="item.required">
                        </app-input-element>


                        <app-checkbox-element class="col-12" [Name]="item.name"
                            *ngIf="item.type === 'boolean' && item.label_ar "
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            [control]="myForm.get(item.name)" [required]="item.required">
                        </app-checkbox-element>


                        <app-input-element class="col-12" [inputType]="item.type" [Name]="item.name"
                            *ngIf="item.name === 'images'"
                            [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar"
                            [control]="myForm.get(item.name)" [required]="item.required" [multiple]="true">
                        </app-input-element>


                    </ng-container>

                </div>
            </div>

            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!myForm.valid || onSave">
            <span *ngIf="onSave" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{'btn.send' | translate}}
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
            {{'btn.close' | translate}}</button>
    </div>
</ng-container>