<ng-container *ngIf="!loading">
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel"> اضف اعلان </h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" class="needs-validation" >
            <div class="form">
                <div class="form-group">
                    <label for="">نوع الاعلانات</label>
                    <ng-select formControlName="adsType"   [items]="adsTypes" (change)="onChangeType($event)" required=""
                        [bindLabel]="TranslateService.currentLang ==='en' ? 'name': 'nameAr'" bindValue="id" >
                    </ng-select>
                </div>
                <ng-container *ngFor="let item of formMap">
                    <app-category-select *ngIf="item.name === 'category'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [typeValue]="typeID" [required]="item.required"></app-category-select>

                    <app-type-radio *ngIf="item.name === 'selling_type'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [options]="item.options" [required]="item.required"></app-type-radio>
                    
                    <app-input-element [inputType]="'text'" [Name]="item.name" *ngIf="item.name === 'name'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>

                    <app-input-element [inputType]="'text'" [Name]="item.name" *ngIf="item.name === 'short_description'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>

                    <app-input-element [inputType]="'text'" [Name]="item.name" *ngIf="item.name === 'description'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>

                    <app-input-element [inputType]="'number'" [Name]="item.name" *ngIf="item.name === 'price'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>

                    <app-input-element [inputType]="'text'" [Name]="item.name" *ngIf="item.name === 'breed'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>

                    <app-input-element [inputType]="'number'" [Name]="item.name" *ngIf="item.name === 'stock'" [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-input-element>
                    
                    <app-checkbox-element  [Name]="item.name" *ngIf="item.type === 'boolean' && item.label_ar " [label]="TranslateService.currentLang ==='en' ? item.label: item.label_ar" [control]="myForm.get(item.name)" [required]="item.required"></app-checkbox-element>
                    
                </ng-container>
                
            </div>

            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(myForm)" [disabled]="!myForm.valid || onSave"> 
            <span *ngIf="onSave" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{'ads.report' | translate}} 
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')"> {{'btn.close' | translate}}</button>
    </div>
</ng-container>