/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", "Cairo", sans-serif; }

/*variables*/
@import './assets/scss/theme/variables';
$main_color:#ff5551;

.iti {
    width: 100%;
    direction: ltr;

    input {
        padding: 17px 25px 17px 50px !important
    }
}

.iti__country-list {
    display: flex;
    flex-direction: column;
}

.ng-select.ng-select-single .ng-select-container {
    height: 54px !important;
    line-height: 54px!important;
    border-radius: 0!important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  padding-right: 10px!important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  top: 0!important;
}
.rtl{
  .ng-select .ng-select-container .ng-value-container{
    padding-left: 0;
    padding-right: 10px;
  }
}

.tab2-card {
    ul {
        margin-bottom: 30px;
        border-bottom: 1px solid #dee2e6;

        li {
            a {
                svg {
                    width: 18px;
                    vertical-align: middle;
                }
            }
        }
    }

    .nav-tabs {
        .nav-link {
            color: #212529;
            font-weight: 600;
            font-size: 15px;
            &.active,
            &:focus,
            &:hover {
                color: $main_color;
                border-color: transparent;
                border-bottom: 2px solid $main_color;
            }
        }

        .nav-item {
            &.show {
                .nav-link {
                    border-color: transparent;
                    border-bottom: 2px solid $main_color;
                }
            }
        }
    }
}

.profile-details {
    img {
        margin-bottom: 20px;
    }

}

.project-status {
    margin-top: 20px;

    .media {
        margin-top: 20px;
    }
}

.sm-progress-bar {
    height: 6px;
}

.profile-table {
    table {
        tbody {
            tr {
                td {
                    &:first-child {
                        min-width: 250px;
                    }
                }
            }
        }

        th,
        td {
            border-top: none;
        }
    }
}

.img-90 {
    width: 90px !important;
}

/*******************/
// 
// Chat.scss
//

.chat-leftsidebar{
    @media (min-width: 992px) {
      min-width: 380px;
    }
  
  
    .chat-leftsidebar-nav{
      .nav{
        background-color: white;
      }
  
      .tab-content{
        min-height: 488px;
      }
    }
  }
  
  .chat-noti-dropdown{
    &.active{
      &:before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color:#f46a6a;;
        border-radius: 50%;
        right: 0;
      }
    }
  
    .btn{
      padding: 6px;
      box-shadow: none;
      font-size: 20px;
    }
  }
  
  .chat-search-box{
    .form-control{
      border: 0;
    }
  }
  
  .chat-list{
    margin: 0;
    li{
      display: block;
      &.active{
        a{
          background-color: white;
          border-color: transparent;
          box-shadow:  0 0.75rem 1.5rem rgba(18,38,63,.03);
        }
      }
      a{
        display: block;
        padding: 14px 16px;
        color: #74788d;
        transition: all 0.4s;
        border-top: 1px solid #eff2f7;
        border-radius: 4px;
        &:hover{
          background-color: white;
          border-color: transparent;
          box-shadow:  0 0.75rem 1.5rem rgba(18,38,63,.03);
  
        }
      }
    }
  }
  
  
  .user-chat-nav{
    .dropdown{
      .nav-btn{
        height: 40px;
        width: 40px;
        line-height: 40px;
        box-shadow: none;
        padding: 0;
        font-size: 16px;
        background-color: #eff2f7;
        border-radius: 50%;
      }
  
      .dropdown-menu{
        box-shadow:  0 0.75rem 1.5rem rgba(18,38,63,.03);
        border: 1px solid #eff2f7;
      }
    }
  }
  
  
  .chat-conversation{
    ul{
      margin: 0;
      border: none;
    }
    li{
      display: block;
      clear: both;
    }
  
    .chat-day-title{
      position: relative;
      text-align: center;
      margin-bottom: 24px;
  
      .title{
        background-color: white;
        position: relative;
        z-index: 1;
        padding: 6px 24px;
      }
  
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        background-color: #eff2f7;
        top: 10px;
      }
      .badge{
        font-size: 12px;
      }
    }
    .conversation-list{
      margin-bottom: 24px;
      display: inline-block;
      position: relative;
  
      .ctext-wrap{
        padding: 12px 24px;
        background-color: #ffd864;
        border-radius: 8px 8px 8px 0px;
        overflow: hidden;
  
        .conversation-name{
          font-weight: 600;
          color: #ff8084;
          margin-bottom: 4px;
        }
      }
  
      .dropdown{
        float: right;
        .dropdown-toggle{
          font-size: 18px;
          padding: 4px;
          color: #74788d;
          @media (max-width: 575.98px) {
            display: none;
          }
        }
  
        .dropdown-menu{
          box-shadow:  0 0.75rem 1.5rem rgba(18,38,63,.03);
          border: 1px solid #eff2f7;
        }
      }
  
      .chat-time{
        font-size: 12px;
      }
    }
  
    .right{
      .conversation-list{
        float: right;
        .ctext-wrap{
          background-color: #ff4c3b;
          text-align: right;
          border-radius: 8px 8px 0px 8px;
          p{
            color: white;
          }
        }
        .dropdown{
          float: left;
        }
  
        &.last-chat{
          .conversation-list{
            &:before{
              right: 0;
              left: auto;
            }
          }
        }
      }
  
    }
  
    .last-chat{
      .conversation-list{
        &:before{
          content: "\F0009";
          font-family: "Material Design Icons";
          position: absolute;
          color: #ff8084;
          right: 0;
          bottom: 0;
          font-size: 16px;
          
      @media (max-width: 575.98px) {
        display: none;
      }
        }
      }
    }
  }
  
  .chat-input-section{
    border-top: 1px solid #eff2f7;
  }
  
  .chat-input{
    border-radius: 30px;
    background-color: #fff !important;
    border-color:  #9b9b9b !important;
  }
  
  .chat-input-links{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    li{
      a{
        font-size: 16px;
        line-height: 36px;
        padding: 0px 4px;
        display: inline-block;
      }
    }
  }
  
  .chat-send{
    @media (max-width: 575.98px) {
      min-width: auto;
    }
  }

  .ps-content{
    padding-right: 10px;
  }

  /*interests*/
  .interests{
    .btn {
      border-color: $main_color;
      color:  $main_color;
      border-radius: 4px;
      font-weight: normal;
      margin: 0 5px;
    }
    .btn.active{
      background-color:  $main_color;
      color: $white;
    }
  }
  
  .rtl{
    .breadcrumb-item + .breadcrumb-item::before{
      float: right;
    }
  }


  //checkbox

  .checkbox_animated {
    cursor: pointer;
    position: relative;
    margin: 0 1rem 0 0;
}

body.rtl .radio_animated, body.rtl .checkbox_animated {
  margin: 0 0 0 1rem;
}
.checkbox_animated:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}

.checkbox_animated:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: -2px;
  top: 0.225rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid $main_color;
  border-top-style: none;
  border-right-style: none;
}

.checkbox_animated:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: -6px;
  width: 1.3rem;
  height: 1.3rem;
  background: #ffffff;
  border: 2px solid #e8ebf2;
  cursor: pointer;
}