<app-breadcrumb [title]="'auth.register' | translate" [breadcrumb]="'auth.register' | translate"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> {{'auth.register' | translate}}</h3>
                <div class="theme-card">
                    <form class="theme-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div class="form-row align-items-center">
                            <div class="col-md-6 form-group">
                                <label for="name"> {{'common.name' | translate}}</label>
                                <input type="text" minlength="2" class="form-control" id="name" name="name" required
                                    ngModel #name="ngModel">
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && name.invalid">
                                    {{'common.name' | translate}} {{'auth.length2Message' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="password"> {{'auth.password' | translate}}</label>
                                <input type="password" class="form-control" id="password" name="password" required
                                    ngModel #password="ngModel" minlength="6" autocomplete="new-password">
                                <small class="text-danger mt-2 d-block"
                                    *ngIf="f.invalid && f.touched && password.invalid">
                                    {{'auth.password' | translate}} {{'auth.length6Message' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label> {{'auth.RetypePassword' | translate}} </label>
                                <input type="password" class="form-control" name="confirmPassword" ngModel required
                                    #confirmPassword="ngModel" minlength="6">
                                <small class="text-danger mt-2 d-block"
                                    *ngIf="confirmPassword.touched && confirmPassword.value !== password.value">
                                    {{'auth.passwordMismatch' | translate}} 
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">{{'common.email' | translate}}</label>
                                <input type="text" class="form-control" id="email" name="email" required ngModel email
                                    #email='ngModel' autocomplete="new-email">
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && email.invalid">
                                    {{'common.email' | translate}} {{'auth.validMessage' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Address"> {{'common.address' | translate}}</label>
                                <input type="text" class="form-control" id="Address" name="address" required ngModel
                                    #address="ngModel" minlength="5">
                                <small class="text-danger mt-2 d-block"
                                    *ngIf="f.invalid && f.touched && address.invalid">
                                    {{'auth.password' | translate}} {{'auth.length5Message' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="mobile">{{'common.phone' | translate}}</label>
                                <ngx-intl-tel-input
                                    [preferredCountries]="[CountryISO.Egypt, CountryISO.UnitedKingdom]"
                                    [enableAutoCountrySelect]="false"
                                    [enablePlaceholder]="true"
                                    [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Egypt"
                                    [maxLength]="15" [phoneValidation]="true" name="phone" ngModel id="mobile" required
                                    #phone="ngModel">
                                </ngx-intl-tel-input>
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && phone.invalid">
                                    {{'common.phone' | translate}} {{'auth.validMessage' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Country"> {{'auth.Country' | translate}}</label>
                                <ng-select name="country" id="country" required ngModel #country='ngModel' [items]="countries"
                                    bindLabel="nameEn" bindValue="id" (change)="onChangeCountries($event)">
                                </ng-select>
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && country.invalid">
                                     {{'common.required' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="city">{{'auth.City' | translate}}</label>
                                <ng-select name="city" id="city" required ngModel #city='ngModel' [items]="cities" bindLabel="cityEn"
                                    bindValue="id">
                                </ng-select>
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && city.invalid">
                                    {{'common.required' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="state">{{'auth.Governorate' | translate}}</label>
                                <input type="text" class="form-control" id="state" name="state" required ngModel #state='ngModel'>
                                <small class="text-danger mt-2 d-block"
                                *ngIf="f.invalid && f.touched && state.invalid">
                                {{'auth.Governorate' | translate}} {{'auth.length3Message' | translate}}
                            </small>
                            </div>
                            <div class="col-md-6 form-group">
                                <div style="min-height: 24px;" class="px-2">
                                    <label class="d-block mb-0" for="policy">
                                        <input class="checkbox_animated" id="policy" type="checkbox" checked="" name="policy" #policy="ngModel" ngModel required>
                                        {{'auth.policy' | translate}}
                                    </label>
                                </div>
                                <small class="text-danger mt-2 d-block" *ngIf="f.invalid && f.touched && policy.invalid">
                                    {{'common.required' | translate}}
                                </small>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-solid" [disabled]="f.invalid"> {{'btn.createAccount' | translate}}</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->